main{
    background-size: 100%;
}
body{
    margin: 0px;
    background-image: url(pattern-background-desktop.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgb(199, 214, 250);
}
p{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

.A{
    display: flex;
    justify-content: center;
    align-items: center;
;
}
.Summary{
    background-color: rgb(255, 255, 255);
    width: 455px;
    max-width: 100vw;
    height: 750px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1.5fr 1.5fr 1fr ;
    grid-template-columns: 1fr;
    border-radius: 15px;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.527);
    margin: 3%;
}
.sup{
    border-radius: 15px 15px 0px 0px;
    grid-row: 1;
    overflow: hidden;
}

.imag{
    position: relative;
    min-height: 100%;
    align-items: center;

    

}
.centro{
    background-color: rgb(255, 255, 255);
    grid-row: 2;
    position: relative;
}
.infe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 3%; margin-top: 0px; margin-bottom: 0px;
}
.infe>a{
    margin-top: 15px;
}

.annualplan{
    background-color: rgba(168, 220, 255, 0.246);
    border-radius: 15px;
    position: absolute;
    right: 5%; left: 5%;bottom: 3px;
    height: 80px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}
.info{
    text-align: center;
}

.info>p{
    position: absolute;
    top:26%;right: 10%; left: 10%; bottom: 10%;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.info>h1{
    font-size: 1.75em;
    position: absolute;
    align-items: center;
    justify-content: center;
    top:5%;right: 10%;left: 10%;bottom: 3%;
}
.infe>a{
    text-align: center;
   
}
.infe>a:nth-child(1){
    background-color: cornflowerblue;
    font-size: 1.2em;
    font-weight: 800;
    width: 95%;
    height: 20%;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;}

.infe>a:nth-child(1):hover{
    background-color: rgb(125, 96, 255);
    cursor: pointer;
    box-shadow: 2px 2px 30px rgba(44, 1, 124, 0.37);
}
.infe>a:nth-child(2){
    font-size: 1em;
    font-weight: 600;
}
.infe>a:nth-child(2):hover{
    cursor: pointer;
}
.aptext{
    position: absolute;
    grid-column: 2;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
    text-align: left;
    line-height: 1em;
}
.change{
    grid-column: 3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.25em;
    padding: 2px;
}

.change:hover{
    color: rgb(125, 96, 255);
    cursor: pointer;
}
.aptext>p{
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1px;
}
.imag1{
    position: static;
    top: 0px;
}

@media only screen and (max-width: 480px) {
    .A{
        min-width: 100%;
        min-height: 95%;
        padding: 1%;
    
    }
    .Summary{
        height: 97%;
       
    }
    .info>p{
        font-size: .5em;
        top: 35%;
    }
    .change{
        font-size: 1em;
    }
    .infe>a:nth-child(1){
        font-size: 1em;}
}